.hero-btn{
  padding: 10px 20px;
  background-color: #374C9F;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  /* opacity: 0.6; */
  transition:  all 0.3s ;
  text-decoration: none;
}

.hero-btn:hover  {
  /* opacity: 1; */
  color: #374C9F ;
  background-color: white;
  border: 1px solid #374C9F;
}