#hero {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgb(233 227 222) 50%
  );
}


.hero-container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.hero-container h1 {
  font-size: 32px;
  font-weight: 700;
  color: #495057;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hero-container p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 15px;
  color: grey;
}

.hero-image {
  height: 50%;
  background-image: url(../assets/Carolina-Jaen.JPEG);
  background-size: cover;
  width: 100vw;
}

.title {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}


@media screen and (min-width: 1200px) {
  #hero {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgb(233 227 222) 50%
    );;
  }

  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-image {
    height: 75%;
    width: 40%;
    background-image: url(../assets/Carolina-Jaen.JPEG);
    background-size: cover;
    border-radius: 0;
    margin-right: 55px;
    border: 5px solid #f9f9f9;
  }

  .title {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .title h1 {
    font-size: 70px;
    font-weight: 400;
  }
}



.whatsapp-btn {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 50px;
  bottom: 50px;
}

.text-message{
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
}

.whatsapp-bubble {
  height: 48px;
}