nav {
  background-color: #060301;
  width: 100%;
}

#navbar {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar a {
  text-decoration: none;
}

.logo {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 40%;
  z-index: 999;
  margin-right: 130px;
}

.nav-links li {
  margin: 10px 0;
}

.link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.link:hover::after {
  width: 100%;
}

.nav-links a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo h3 {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 3.2px;
}
.logo img {
  height: 100%;
}

.nav-links a:hover{
  color: #6b705c;
}

.menu-container {
  display: inline-block;
  cursor: pointer;
  display: none;
  margin-right: 30px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: rgb(128, 128, 128);
  margin: 6px 0;
  transition: all 0.3s ease;
}


@media screen and (max-width: 1280px) {
  .nav-links {
    width: 40%;
    margin-right: 30px;
  }

  .logo {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  /* body {
    overflow-y: hidden;
  } */

  .nav-links {
    width: 100%;
    position: absolute;
    right: 0px;
    height: 55vh;
    top: 10vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-150%);
    margin-right: 0;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links a {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
  }
  .menu-container {
    display: block;
  }
}

.nav-active {
  transform: translateY(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.toggle .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .bar2 {
  opacity: 0;
}

.toggle .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
